:root {
  --primary-font: "Poppins", sans-serif;
  --header-font: "Lora", serif;
  --hero-font: "Playfair Display", serif;
  --artistic-font: "Corinthia", cursive;
  --primary-color: white;
  --secondary-color: rgba(235, 235, 235, 0.893);
  --card-color: rgba(255, 255, 255, 0.377);
}
.dark-theme {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.3),
      rgba(39, 32, 68, 0.3)
    ),
    url("../images/dark-theme.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(15px);
}

body {
  font-family: var(--primary-font);
  background-color: black;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.3),
      rgba(39, 32, 68, 0.3)
    ),
    url("../images/light-theme.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  max-width: auto;
  max-height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}
h1 {
  font-size: 56px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
h2 {
  font-size: 28px;
  letter-spacing: 3px;
  opacity: 0.9;
  text-transform: uppercase;
}
h4 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
  opacity: 0.9;
}

p {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}
footer p {
  text-align: center;
}
footer {
  background-color: black;
  color: var(--card-color);
  height: 100px;
  padding: 20px;
  width: 100%;
}
footer a {
  color: var(--card-color);
  text-decoration: none;
}
footer a:hover {
  color: var(--primary-color);
}
.aperture,
.iso,
.shutter {
  background-color: var(--card-color);
  border-radius: 8px;
  padding: 25px;
  margin: 40px 0;
}
.button {
  color: var(--card-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: var(--btn-color);
  text-decoration: none;
}

.container {
  display: block;
  max-width: 950px;
  margin: 30px auto;
  padding: 30px 50px;
}
.content h3 {
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.description {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin: 0 0 30px;
}

.gallery-card {
  background-color: var(--card-color);
  border-radius: 8px;
  margin: 30px 0;
  padding-top: 50px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 60px;
}
.gallery img {
  border-radius: 5px;
  max-width: 100%;
  transition: all 150ms ease-in-out;
}
.gallery img:hover {
  filter: grayscale(60%);
  transform: scale(1.2);
}
.gallery .intro-picture {
  border-radius: 10px;
  max-width: 100%;
  transition: all 150ms ease-in-out;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.hero {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.3),
      rgba(39, 32, 68, 0.3)
    ),
    url("../images/light-theme.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  color: var(--secondary-color);
  margin: 50px 0;
  padding: 100px 30px 300px;
}
.how-it-work,
.photography {
  background-color: var(--card-color);
  border-radius: 8px;
  padding: 25px;
}
.links {
  padding-bottom: 30px;
}
.img-description {
  width: 250px;
}
.intro-picture:hover {
  transform: scale(1);
}
.learn-more {
  text-align: center;
}
.triangle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}
.theme {
  margin: 30px 0;
  text-align: right;
}
@media (max-width: 900px) {
  body {
    text-align: center;
  }
  h1 {
    font-size: 23px;
  }
  .container {
    margin-bottom: auto;
  }
  .triangle {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
  .description {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}
